.progress {
    display: flex;
    height: 13px;
    overflow: hidden;
    font-size: 14px;
    border-radius: .25rem;
    margin-bottom: 38px;
    margin-right: 45px;
}
.progress-bar.yellow {
    background: #ff9600;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #fd0d54;
    transition: width .6s ease;
}
.progress-bar.blue {
    background: #5caae0;
}
.flex-system{
    display: flex;
    justify-content: space-between;
}

.project-img{
    background: url();
}