.contact{
    background: #030303;
    padding: 100px 0;
}

/* .contact-flex input {
    width: 46%;
    background: none;
    border: none;
} */

.contact-flex p {
    width: 48%;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
}
.contact-flex p {
    width: 45%;
    border-bottom: 1px solid #ddd;
    position: relative;
  
    
}

.contact-flex p::before {
    content: '';
    position: absolute;
    top: 44px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #FD0155;
    transition: .5s ease-in!important;
}
.contact-flex p:hover::before {
    content: '';
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FD0155;
}
.contact-flex input{
    width: 100%;
}

.contact-flex input {
    width: 100%;
    background: none;
    padding: 10px 3px;
    outline: none;
    border: none;
    color: #ffff;
}
.contact-flex input::placeholder{
    
    color: #ffff;
}

.form p {
margin-top: 10px;
border-bottom: 1px solid #ddd;
position: relative;
}
.form p::before{
    content: '';
    position: absolute;
    top: 44px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #FD0155;
    transition: .3s ease-in-out;
}
.form p:hover::before{
    content: '';
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FD0155;
}
.form input{
    width: 100%;
    background: none;
    padding: 10px 3px;
    outline: none;
    border: none;
    color: #ffff;
}
.form input::placeholder{
    
    color: #ffff;
}

.another-div textarea{
width: 100%;
background: none;
    padding: 10px 3px;
    outline: none;
    border: none;
    color: #ffff;
    margin-top: 10px;
    z-index: 9999;
}

.another-div textarea::placeholder{
    color: #fff;
}

.another-div p{
    margin-top: 40px!important;
border-bottom: 1px solid #ddd;
position: relative;

}


.another-div p::before {
    content: '';
    position: absolute;
    top: 85px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fd0155;
    transition: .3s ease-in-out;
}
.another-div p:hover:before {
    width: 100%;
}

.button-customize button {
    display: block;
    margin: 46px 0;
    padding: 15px 70px;
    font-size: 19px;
    text-transform: capitalize;
    background: none;
    color: #EFEFEF;
    border: 2px solid #EFEFEF;
    outline: none;
    transition: .3s ease-in-out;
}
.button-customize button:hover {
    display: block;
    margin: 46px 0;
    padding: 15px 70px;
    font-size: 19px;
    text-transform: capitalize;
    background: none;
    color: #EFEFEF;
    border: 2px solid #fd0155;
    outline: none;
    background: #fd0155;
}